/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --text-size: 12px;
  --icon-size: 12px;

  /* Catppuccin Latte (light mode) */
  --text-color-light: #4c4f69;
  --icon-color-light: #9ca0b0;
  --background-color-light: #eff1f5;
  --surface-color-light: #ccd0da;
  --surface-hover-light: #9ca0b0;

  /* Catppuccin Mocha (dark mode) */
  --text-color-dark: #cdd6f4;
  --icon-color-dark: #585b70;
  --background-color-dark: #1e1e2e;
  --surface-color-dark: #313244;
  --surface-hover-dark: #585b70;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
    --surface-color: var(--surface-color-light);
    --surface-hover: var(--surface-hover-light);
    --text-color: var(--text-color-light);
  }

  i {
    color: var(--icon-color-light);
  }

  #root {
    background: var(--background-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    --surface-color: var(--surface-color-dark);
    --surface-hover: var(--surface-hover-dark);
    --text-color: var(--text-color-dark);
  }

  i {
    color: var(--icon-color-dark);
  }

  #root {
    background: var(--background-color-dark);
  }
}

i {
  margin-right: 7px;
  font-size: var(--icon-size);
}

body {
  font-family: ui-monospace, monospace;
  font-size: var(--text-size);
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  border-radius: 0;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
  padding-right: 16px;
}

.binding-mode,
.tiling-direction,
.paused-button,
.memory,
.cpu {
  margin-right: 20px;
}

.battery {
  margin-right: 0;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--surface-color);
  margin-right: 4px;
  padding: 2px 6px;
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 10px;

  &.displayed {
    background: var(--surface-color);
  }

  &.focused,
  &:hover {
    background: var(--surface-hover);
    color: var(--text-color);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: var(--surface-color);
  color: var(--text-color);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.tiling-direction {
  margin-left: 16px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
